---
permalink: download
title: "Download | fooyin"
layout: default
---

{% include header.html %}

<div class="container-text">
    <h2 class="title">Download</h2>
    <h3 class="title">Linux</h3>
    <p>fooyin is available on the Flathub store:
    </p>
    <a href="https://flathub.org/apps/details/org.fooyin.fooyin" target="_blank" rel="noopener noreferrer">
        <img alt="Download on Flathub" height="70" src="https://flathub.org/assets/badges/flathub-badge-en.png"></a>
    <h3 class="title">Source</h3>
    <p>For building from source, follow the instructions in BUILD.md for the latest release:</p>
    <a class="btn btn-download" href="https://github.com/ludouzi/fooyin/archive/refs/tags/v0.4.5.tar.gz" target="_blank"
        rel="noopener noreferrer">
        <div class="download-title">
            fooyin - src</div>
        <div class="download-hint">0.4.5</div>
    </a>
</div>

{% include footer.html %}