---
permalink: screenshots
title: "Screenshots | fooyin"
layout: default
---

{% include header.html %}

<div class="container-text">
    {% assign dataFiles = "images-layouts,images-general" | split: ',' %}

    {% for file in dataFiles %}
    {% assign imagesData = site.data[file] %}
    {% assign images = imagesData.images %}
    {% assign sectionTitle = imagesData.title %}

    <h2 class="title">{{ sectionTitle }}</h2>
    <ul class="image-grid">
        {% for image in images %}
        <li>
            <a href="{{ image.src }}">
                <img src="{{ image.src }}" alt="{{ image.caption }}">
                <div class="caption">{{ image.caption }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

{% include footer.html %}