<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="ludouzi">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:site_name" content="fooyin">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:type" content="website">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="icon" href="/assets/favicon.png" sizes="any">
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body>
	{{ content }}
</body>
</html>
