<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Luke Taylor">
        <meta
            name="description"
            content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
        >
        <meta property="og:site_name" content="fooyin">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta
            property="og:description"
            content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
        >
        <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">

        <title>
            {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
        </title>

        <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" sizes="any">
        <link rel="icon" href="/assets/favicon-16.png" type="image/png" sizes="16x16">
        <link rel="icon" href="/assets/favicon.png" type="image/png" sizes="32x32">
        <link rel="shortcut icon" href="/favicon.ico">
        <script src="/assets/js/theme.js?v=2"></script>
        <link rel="stylesheet" href="/assets/css/main.css?v=8">
    </head>

    <body
        {% if page.url == '/' %}
            class="home"
        {% endif %}
    >
        {{ content }}
    </body>
</html>
